registry=https://registry.npmmirror.com
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR="{{ version }}"
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
PHANTOMJS_CDNURL=https://npmmirror.com/dist/phantomjs/
canvas_binary_host_mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt/
strict-peer-dependencies=false


registry=https://registry.npmmirror.com
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR="{{ version }}"
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/
