
@phone-width: 220px;
@phone-height: 520px;

.phone{
  width: @phone-width;
  height: @phone-height;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  backface-visibility: hidden;
  .container{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: @phone-width;
    height: @phone-height;
  }
  .box{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    .top{
      width: @phone-width;
      height: @phone-height;
      background: linear-gradient(121deg, #f4f4f4 0%, #c4c4c4 100%);
      margin: 0 auto;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
