*{
  margin: 0;
  padding: 0;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
#app{
  perspective: 1200px;
  transform-style: preserve-3d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: transparent;
  -webkit-user-select: none;
}
